.Container {
  width: 85%;
  max-height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.MoviesContainer {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 20px;
}
