.MovieCategoriesSection h1 {
  display: inline;
  border: 1px solid black;
}

.Selector {
  /* width: 220px; */
  display: inline-flex;
  justify-content: space-around;
  position: relative;
  border: 1px solid black;
  border-radius: 30px;
}

/* .Selector span {
  position: relative;
  text-align: center;
  padding: 5px;
  z-index: 1;
} */

.Selector a {
  width: 75px;
  position: relative;
  text-align: center;
  padding: 5px;
  z-index: 1;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.active {
  background-color: #032541;
  color: white;
  border-radius: 30px;
}
