.Movie {
  width: 150px;
  min-width: 150px;
  height: 220px;
  margin: 1rem;
  background-color: #373b69;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.ImageContainer {
  position: relative;
}

.Movie img {
  max-width: 100%;
}

.VoteGreen, .VoteOrange, .VoteRed {
  background-color: #22254b;
  padding: 0.5rem;
  border-radius: 5px;
}

.VoteGreen {
  color: green;
}

.VoteOrange {
  color: orange;
}

.VoteRed {
  color: red;
}