.MainBanner {
  height: 310px;
  width: 85%;
  background: url('../../assets/images/mortal-engines.jpg') no-repeat,
    rgba(2, 90, 126, 0.7);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 40px;
}

.MainBanner h1 {
  font-size: 40px;
  margin: 0;
}

.MainBanner h3 {
  font-size: 26px;
  font-weight: 600;
  margin: 0 0 50px;
}
